:root {
    --emerald-50: #eefff6;
    --emerald-100: #d7ffed;
    --emerald-200: #b2ffdc;
    --emerald-300: #76ffc2;
    --emerald-400: #33f5a1;
    --emerald-500: #09de81;
    --emerald-600: #00c771;
    --emerald-700: #049155;
    --emerald-800: #0a7146;
    --emerald-900: #0a5d3c;
    --emerald-950: #00341f;

    --turquoise-50: #eefffc;
    --turquoise-100: #c6fff7;
    --turquoise-200: #8efff0;
    --turquoise-300: #4dfbe8;
    --turquoise-400: #19e8d7;
    --turquoise-500: #00c7ba;
    --turquoise-600: #00a49d;
    --turquoise-700: #02837f;
    --turquoise-800: #086765;
    --turquoise-900: #0c5553;
    --turquoise-950: #003334;




}