body {
    background-image: linear-gradient(to top, #92e9b5 0%, #048138 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;

}

.container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    background-image: linear-gradient(to bottom, #32e078 0%, #048138 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

form{
    color: #033018;
}

h2 {
    text-align: center;
}

label {
    margin-top: 10px;
}


input{
    margin-bottom: 15px;
}

select{
    background-image: linear-gradient(to top, #e7fdf0 0%, #8af7b7 100%);
}


input[type="submit"] {
    background-image: linear-gradient(to top, #085226 0%, #043016 100%);
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #33ff00;
}